@import './lib.scss';

body{
	font-size: 0.28rem;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

.icon{
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	display: inline-block;
}

.main{
    width : 100%;
    padding-top: $head-height; 
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
  z-index: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

@for $i from 1 through 10{
  .mt#{$i}{
    margin-top:0.1rem * $i;
  }
  .mb#{$i}{
    margin-bottom:0.1rem * $i;
  }
}

.fl{
  float: left;
}
.fr{
  float: right;
}

/*按钮*/
.btn {
  padding: .1rem .5rem;
  font-size: .28rem;
  border-radius: 3px;
  border: 0px;
  outline: none;
  background: $color-primary;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  text-align: center;
  @each $name,$color in (primary: $color-primary,dangerous: $color-dangerous){
    &.btn-#{$name}{
      background-color: #{$color};

      &:active{
        background-color: lighten($color,10%)
      }

       &.btn-ghost{
        background-color: transparent;
        color: $color;
        border: 1px solid $color;

        &:active{
          background-color: lighten($color,10%);
          color: #fff;
        }
      }
    }
  }

  &.disabled,&[disabled]{
    background-color: $color-disabled;
    color: #fff;
    cursor: no-drop;
  }
  &.btn-block{
    box-sizing: border-box;
    width: 100%;
    padding: .2rem;
  }

}
.bt{
  border-top: 1px solid #e1e1e1;
}
.nbb{
  border-bottom: 0px !important;
}
.price{
  color: $color-primary;
  font-size: .32rem;
}
/*品牌活动*/
.activity-item{
  margin-top: .2rem;
  background: #fff;
  padding: 0.2rem;
  img{
    width: 100%;
    border-radius: 5px;
    border:1px solid #ccc;
  }
}

/*新闻List*/
.news-list{
  padding: 0 .3rem .3rem;
  background: #fff;
}
.article{
  padding: 0 0.3rem;
  background: #fff;
  border-top: 1px solid #D6D7DC;
}
.article-head{
  border-bottom: 1px dashed #D6D7DC;
}
/*文章详情*/
.article-title{
  text-align: center;
  font-size: .32rem;
  color: #323232;
  line-height: .8rem;
  font-weight: normal;
}
.article-intro{
  color: #909090;
  font-size: .24rem;
  text-align: center;
}
.article-intro-date{
  margin-right: .2rem;
}


.article-body{
  font-size: 0.3rem;
  padding: 0.2rem 0;

  img{
    width: 100%;
  height: initial;
  }
}

.panel-list{
  padding: 0.3rem;
  background: #fff;
}
.panel{
  background: #FAFAFA;
  border-radius: 5px;
  padding: .3rem .3rem .4rem;
  margin-bottom: .2rem;
  box-shadow:0 4px 5px #eee;
  .date{
    font-size: .3rem;
    color: #828282;
  }
  .title{
    font-size: .28rem;
    color: #323232;
    margin-top: .1rem;
  }
  .content{
     margin-top: .1rem;
    font-size: .24rem;
    color: #555555;
  }
}
.brand-list{
  overflow: hidden;
}
.brand-item{
  width:50%;
  float: left;
  text-align: center;
  padding: .25rem 0; 
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  box-sizing: border-box;
  background: #fff;

  &:nth-of-type(2n){
    border-right:0px;
  }
  .brand-item-pic{
    width: 60%;
  }
  .brand-item-name{
    font-size: .32rem;
    margin-top: .1rem;
  }
}

/*左侧菜单*/
.menu{
  .menu-head{
    background: $color-primary;
    text-align: center;
    padding: .6rem 0;
    img{
      width: 2rem;
    }
  }
  .menu-item{
    padding: 0 .5rem;
    line-height: 1rem;
    padding-left: 0.7rem;
    font-size: .3rem;
    color: #323232;
    &.active{
      background: #FAFAFA;
    }
    .menu-body{
      display: block;
      border-bottom: 1px solid #D6D7DC;
      background-size: .5rem;
      background-repeat: no-repeat;
      padding-left: 1rem;
      background-position: left center;
    }
  }
}

.index-section{
  background: #fff;
  margin-top: .2rem;
  border-bottom: 1px solid #D6D7DC;

  &:first-of-type{
    margin-top: 0;
  }

  .panel-list{
    padding: 0 .3rem;
    background: #FAFAFA;
    .panel{
      box-shadow: none;
      border-bottom: 1px dashed #D6D7DC;
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-left:0;
      padding-right: 0;
      &:last-of-type{
        border-bottom:0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  /*研发团队*/
  &.team{
    .index-section-head{
      border-bottom: 1px solid #E1E1E1;
    }
    .index-section-body{
      border-bottom: 1px solid #e1e1e1;
    }
    .info-card{
      @include flex;
      border-bottom: 1px dashed #D6D7DC;
      padding: .2rem 0;
      &:last-of-type{
        border-bottom:0;
      };
      .info-card-img{
        width: 1.4rem;
        height: 1.4rem;
        @include flex;
        border-radius: 5px;
      }
      .info-card-content{
        -webkit-box-flex:1;
        @include flex(vertical,start);
        margin-left: 0.3rem;
      }
      .info-card-title{
        color: #323232;
        font-size: 0.28rem;
      }
      .info-card-summary{
        color: #7D7D7D;
        font-size: .24rem;
        -webkit-line-clamp:3;
        -webkit-box-orient:vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}


.index-section-head{
  text-align: center;
  padding: .3rem 0;
  .title{
      font-size: .32rem;
      position: relative;
      color: #555;
      &:before{
        content:'';
        position: absolute;
        top: 50%;
        width: 1rem;
        margin-left: -1.2rem;
        left: 0;
        height: 1px;
        background: #555;
      }
      &:after{
        content:'';
        position: absolute;
        top: 50%;
        width: 1rem;
        margin-right: -1.2rem;
        right: 0;
        height: 1px;
        background: #555;
      }
  }
  .sub-title{
    font-size: .24rem;
    color: #777777;
  }
}

.index-section-body{
  padding: 0 .2rem;

  .index-section-body-container{
    border-bottom: 1px dashed #D6D7DC;
    padding-bottom: .2rem;
  }
  .index-section-body-img{
    width: 100%;
    border-radius: 5px;
  }
  .index-section-body-summary{
    font-size: .24rem;
    color: #555;
    margin-top: .15rem;
  }
}
.index-section-footer{
  padding: .2rem;
  text-align: center;
  background: #fff;
  .index-btn{
    display: inline-block;
    padding: .1rem .8rem;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    &:active{
      color: #fff;
      background-color: $color-primary;
      border-color: $color-primary;
    };
  }
}

.index-footer{
  text-align: center;
  padding: .3rem;
  font-size: .24rem;
}

.login-logo {
    width: 2rem;
    margin: .8rem 0 1rem 0;
}

.wrap-input{
  @include flex;
  height: 1rem;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
  margin: 0 .6rem;
  color: #909090;
  i{
    display: -webkit-box;
    vertical-align: middle;
  }
  .input{
    padding-left: .2rem;
    display: -webkit-box;
    -webkit-box-flex: 1;
    border: 0;
    outline: none;
    -webkit-appearance:none;
    background: transparent;
    font-size: .32rem;
  }
  .verify{
    display: -webkit-box;
    border-left: 1px solid #e1e1e1;
    padding: .1rem .2rem;
  }
}

html,body,#container, #container>div{
  height: 100% !important;
}

#container>div{
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.transitionWrapper{
  display: -webkit-box;
  -webkit-box-flex:1;
  height: 100%;
  overflow: hidden;
}
.login{
    background: #fff;
    text-align: center;
    height: 100%;
    border-top: 1px solid #e1e1e1;
    box-sizing: border-box;
}

/*订单模块*/
.order-container{
  @include flex(horizontal,start,start);
  background: #fff;
  -webkit-box-flex:1;
  overflow: hidden;
  position: relative;
  height: 100%;
  .order-menu{
    width: 2rem;
    font-size: .24rem;
    color: #575757;
    overflow: scroll;
    height: 100%;
    position: absolute;
    .item{
      background: #FAFAFA;
      border-bottom: 1px solid #D6D7DC;
      border-right: 1px solid #D6D7DC;
      padding: .2rem;
      &.active{
        background: #fff;
        border-right: 0;
        border-left: 1px solid $color-primary;
      }
    }
  }
  .order-sub-list{
        border-bottom: 1px solid #e1e1e1;
    background-color: white;
    overflow: scroll;
    height: 100%;
    position: absolute;
    left: 2.2rem;
    width: calc( 100% - 2.4rem);

    .order-sub-item{
      @include flex;
      padding: .2rem 0;
      border-bottom: 1px solid #e1e1e1;
      &:last-of-type{
        border-bottom:0;
      }
      .order-sub-left{
        display: -webkit-box;
        -webkit-box-flex: 1;
        -webkit-box-orient: vertical;
        line-height: .4rem;
      }
      .order-sub-right{
         display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 1.2rem;
      }

      .order-sub-name{
        font-size: .26rem;
        color: #2d2d2d;
      }
      .order-sub-model{
        color: #555555;
        font-size: .24rem;
      }
      .order-sub-price{
        color: $color-primary;
        font-size: .28rem
      }
      .order-sub-expired{
        font-size: .24rem;
        color: #555;
        line-height: .4rem;
      }
      .order-sub-number{
        display: -webkit-box;
        -webkit-box-flex:1;
        -webkit-box-align:center;
        -webkit-box-pack: end;
      }
    }
  }
}
.order-add-wrapper{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
  .banner{
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.minus{
  width: .4rem;
  height: .4rem;
  background-image: url('../imgs/order/minus.png');
  vertical-align: middle;
  margin-right: .1rem;
}
.plus{
  width: .4rem;
  height: .4rem;
  background-image: url('../imgs/order/plus.png');
  vertical-align: middle;
  margin-left: .1rem;
}
.order-btn-submit{
    display: -webkit-box;
    background: #fafafa;
    height: 1rem;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.detail-list{
  background: #fff;
  margin-top: .2rem;

  .detail-list-head{
    padding: .25rem .3rem;
    color: #323232;
    font-size: .32rem;
    border-bottom: 1px solid #e1e1e1;
  }

  .detail-list-item{
    padding: .25rem .3rem;
    @include flex(horizontal,start,end);
    border-bottom: 1px solid #e1e1e1;
    .detail-list-item-left{
      display: -webkit-box;
      font-size: .28rem;
      color: #555;
    }

    .detail-list-item-right{
       display: -webkit-box;
      -webkit-box-flex:1;
      font-size: .28rem;
      -webkit-box-pack:end;
      color: #555;
      .number{
        font-size: .24rem;
        color: #8E8E8E;
      }
      .price{
        color: $color-primary;
        font-size: .32rem;
        margin-left: .2rem;
      }
    }
  }
}

.order-head{
  background: $color-primary !important;
  color: #fff;
  .back{
    font-size: .4rem;
    color: #fff !important;
  }
  .right{
    color: #fff !important;
  }
}
.order-info{
  background: $color-primary;
  text-align: center;
  padding-top: .2rem;
  position: relative;
  height: 2.5rem;
  .bg-img{
    width: 90%;
    position: absolute;
    left: 5%;
    max-height: 2.35rem;
  }
  .order-info-body{
    @include flex;
    padding: 0.2rem 0rem;
    background: #fff;
    width: 80%;
    position: absolute;
    top: .7rem;
    left: 10%;
  }

  .small-icon{
    width: .7rem;
    display: -webkit-box;
  }

  .order-info-content{
    @include flex(vertical,start,start);
    margin-left: .2rem;
    .title{
      color: #333;
      font-size: .28rem;
    }
    .date{
      font-size: .24rem;
      color: #ccc;
    }
  }

  .order-info-footer{
    position: absolute;
    bottom: .29rem;
    width: 100%;
    text-align: center;
    .order-number{
      color: $color-primary;
      margin-right: .2rem;
    }
  }
}

/*招商加盟*/
.join-head.head{
  background: url('../imgs/join/nav-bg.png') no-repeat;
  background-size: cover;
  .back{
    color: #fff;
  }
}
.emphasis{
  background: #f4f4f4;
  font-size: .36rem;
  display: inline-block;
  padding: .1rem .3rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 2px #e4e4e4;
  border: 2px solid #fff;
}
.wrap-emphasis{
    text-align: center;
    padding: .5rem 0;
    background: #fff;
    position: relative;
    &:before{
      content: '';
      width: 2px;
      height: .25rem;
      background: #e4e4e4;
      left: 50%;
      position: absolute;
      border: 0;
      bottom: .25rem;
    }
    &:after{
      background: #e4e4e4;
      content: '';
      position: absolute;
      width: 47.5%;
      bottom: .25rem;
      right: 2.5%;
      height: 2px;
    }
}
.wrap-explain{
  position: relative;
   &:before{
    content: '';
    right: 2.5%;
    top: -.25rem;
    height: 120%;
    width: 2px;
    background: #e4e4e4;
    position: absolute;
    z-index: 1;
  }
}
.explain{
  width: 95%;
  background: #fafafa;
  position: relative;
  @include flex;
  padding: .5rem 0;
  .img{
    width: 1.5rem;
    display: -webkit-box; 
    -webkit-box-align:center;
    margin-left: .1rem;
  }
  .explain-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
    p{
      font-size: 12px;
      i{
        display: inline-block;
        height: .5rem;
        width: .5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        vertical-align: middle;
      } 
    }
    p:nth-of-type(1) i{
      background-image: url('../imgs/join/list-1.png');
    }
    p:nth-of-type(2) i{
      background-image: url('../imgs/join/list-2.png');
    }
    p:nth-of-type(3) i{
      background-image: url('../imgs/join/list-3.png');
    }
  }
}
.join-info-txt{
  background: #fff;
  height: 1.5rem;
  position: relative;
  &.join-info-footer{
     &:before,&:after{
      display:none;
     }
     .content{
      top: 0;
      height: 100%;
     }
  }
  &:before{
    content:'';
    position: absolute;
    top: .25rem;
    width: 47.5%;
    right: 2.5%;
    height: 2px;
    background: #e4e4e4;
  }
  &:after{
    content: '';
    position: absolute;
    top: .24rem;
    width: 4px;
    background: $color-primary;
    border-radius: 50%;
    height: 4px;
    left: 50%;
  }
  .content{
    position: absolute;
    height: calc( 100% - .25rem);
    width: 2px;
    background: #e4e4e4;
    top: .25rem;
    left: 50%;
  }
  .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    img{
      height: .5rem;
      margin-left: -.87rem;
      margin-top: -.15rem;  
    }
  }
}

.form{
  padding:.7rem .3rem;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background: #fafafa;
  .form-label{
    font-size: .24rem;
    color: #555;
    margin-bottom: .1rem;
    font-weight: 700;
    width: 2rem;
    text-align: right;
    display: inline-block;
  }
  .form-group{
    margin-bottom: .3rem;
    overflow: hidden;
  }
  .form-input{
    width: 60%;
    background: #fff;
    height: .7rem;
    line-height: .7rem;
    text-indent: .2rem;
    border: 1px solid #E5E5EC;
    color:#555555;
  }
  textarea.form-input{
    height: 1rem;
    vertical-align: top;
    line-height: .4rem;
  }
  .wrap-radio{
      width: 64%;
        float: right;
    label{
      margin-right: .2rem;
      display: inline-block;
    }
  }
}

input[type=radio]{
      -webkit-appearance: none;
      width: .3rem;
      height: .3rem;
      background: #fff;
      border-radius: 50%;
      border: 3px solid #D6D7DC;
      display: inline-block;
      vertical-align: middle;
      margin-right: .1rem;
      font-size: .24rem;
    } 
input[type=radio]:checked{
  border-color: $color-primary;
}

.join-footer{
  text-align: center;
  color: #fff;
  padding: .5rem;
  background: $color-primary;
  margin: .2rem .2rem 0 .3rem;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: -.2rem;
    width: calc(50% + .14rem);
    background: #e4e4e3;
    height: 2px;
    left: -.15rem;
  }
  &:after{
    z-index: 10;
    content: '';
    position: absolute;
    top: -.2rem;
    width: 2px;
    background: #e4e4e3;
    height: calc(100% + .3rem);
    left: -.15rem;
  }

  img{
    width: 4.5rem;
  }
}

.index-info-footer{
  height: 1.5rem;
  position: relative;
  &:before{
    content:'';
    background: #e4e4e4;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
  }
  .txt{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  img{
      height: .5rem;
      margin-left: -.87rem;
      margin-top: -.15rem;
  }
}
.join-bottom-line{
  background: #fff;
  position: relative;
  height: .4rem;
  &:before{
    content:'';
    position:absolute;
    top: .1rem;
    left: .15rem;
    height: 2px;
    width: 50%;
    background: #e4e4e4;
  }
  &:after{
    content: '';
    position: absolute;
    top: .24rem;
    width: 4px;
    background: #FF6700;
    border-radius: 50%;
    height: 4px;
    left: calc(50% + .15rem);
  }
}
.rodal-dialog {
  width: 80% !important;
  box-sizing: content-box !important;
  top: 30% !important;
  height: initial !important;
  bottom: initial !important;
}

.not-find{
  text-align: center;
  .not-find-img{
    width: 4rem;
    margin-top: 1.5rem;

  }
  .not-find-txt{
    color: #999;
  }

}

::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #F5F5F5;
}