$mainBg: #f1f1f1;

$color-primary: #FF6700;
$color-info: #d00;
$color-disabled: #999;
$head-height: 0.78rem;
$color-disabled: #eee;

@mixin flex($orientation : horizontal,$align: center ,$pack:center){
	display: -webkit-box;
	-webkit-box-align:$align;
	-webkit-box-orient:$orientation;
	-webkit-box-pack:$pack;
}