@import './lib.scss';

*{
	padding: 0;
	margin: 0;
}
input{
	outline: none;
}
body{
	font-size: 12px/1.5 STHeiti,微软雅黑,sans-serif;
	background: $mainBg;
}

ul,ol{
	list-style: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
i{
	font-style: normal;
}
a{
	color: #333;
	&:link,&:visited,&:hover,&:active{
		color:#333;
		text-decoration: none;
	};
}
