@font-face {
  font-family: 'iconfont';  /* project id 319636 */
  src: url('//at.alicdn.com/t/font_1zxpj4bsy55qaor.eot');
  src: url('//at.alicdn.com/t/font_1zxpj4bsy55qaor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1zxpj4bsy55qaor.woff') format('woff'),
  url('//at.alicdn.com/t/font_1zxpj4bsy55qaor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1zxpj4bsy55qaor.svg#iconfont') format('svg');
}

.iconfont{
	font-family: iconfont;
	font-size: .5rem;
}